
*.py[cod]

.web

assets/external/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
.venv/
.env/

# Ignore database files
*.db

# Ignore any local configuration files
*.local
